@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
.section-logo {
  width: 23%;
  padding: 15px 0px; }
  @media only screen and (max-width: 940px) {
    .section-logo {
      width: 50%;
      padding: 25px 0px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
  color: #fff;
  background: #182430; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  z-index: 999;
  position: fixed;
  width: 100%; }
  .navbar .logo {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.8rem;
    color: #FFF652;
    display: flex;
    align-items: center; }
    .navbar .logo img {
      margin-right: 10px; }
  .navbar .navigation {
    display: flex; }
    .navbar .navigation .networks {
      display: none; }
    .navbar .navigation li {
      margin: 0px 15px;
      position: relative; }
      .navbar .navigation li a {
        font-family: "Sora", sans-serif;
        color: #FFF652; }
        .navbar .navigation li a:hover {
          color: #FFE421; }
  .navbar .networks a {
    margin: 0px 8px;
    font-size: 1.2rem;
    color: #FFF652; }
    .navbar .networks a i:hover {
      color: #FFE421; }
  .navbar .hamburger {
    display: none; }
  .navbar.sticky {
    box-shadow: 0 3px 2px -1px #313e4b; }
  @media only screen and (max-width: 1200px) {
    .navbar {
      padding: 10px 20px; }
      .navbar .networks {
        display: none; } }
  @media only screen and (max-width: 940px) {
    .navbar {
      padding: 8px 20px; }
      .navbar .logo {
        font-size: 1.4rem; }
      .navbar .navigation {
        position: absolute;
        top: 93px;
        left: 0;
        width: 100%;
        height: 0vh;
        transition: .5s ease;
        padding-top: 10px;
        box-shadow: 0 2px 2px -1px gray; }
        .navbar .navigation li {
          display: none;
          padding: 20px; }
        .navbar .navigation.active {
          display: inline;
          height: 42vh; }
          .navbar .navigation.active li {
            display: block;
            border-bottom: 1px solid #fff; }
          .navbar .navigation.active .networks {
            display: block;
            padding: 20px; }
            .navbar .navigation.active .networks a {
              margin: 20px; }
      .navbar .hamburger {
        display: block; }
        .navbar .hamburger .fa-bars {
          font-size: 1.5rem;
          color: #FFF652; }
        .navbar .hamburger .fa-times {
          font-size: 1.5rem;
          color: #FFF652;
          display: none; }
        .navbar .hamburger.active .fa-times {
          display: block; }
        .navbar .hamburger.active .fa-bars {
          display: none; } }

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px 0px; }
  .home .form {
    width: 60%;
    padding: 10px;
    margin: 0px 20px; }
    .home .form .inputs {
      display: grid;
      grid-template-columns: auto auto;
      gap: 1rem; }
      .home .form .inputs .label {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .home .form .inputs .label .tel {
          display: flex;
          align-items: center; }
        .home .form .inputs .label label {
          font-family: "Sora", sans-serif;
          padding: 5px 0px; }
        .home .form .inputs .label input, .home .form .inputs .label select {
          width: 100%;
          padding: 5px 10px;
          font-family: "Sora", sans-serif;
          font-size: 1rem;
          outline: none;
          border-radius: 5px;
          border: 1px solid #FFF652; }
        .home .form .inputs .label select option {
          font-family: "Sora", sans-serif; }
          .home .form .inputs .label select option:hover {
            background: #FFE421; }
    .home .form textarea {
      width: 100%;
      margin: 20px 0px;
      height: 20vh;
      resize: none;
      border-radius: 5px;
      outline: none;
      border: 1px solid #FFF652;
      padding: 10px;
      font-family: "Sora", sans-serif;
      font-size: 1rem; }
    .home .form #btn {
      width: 100%;
      padding: 10px 0px;
      border: 1px solid #FFF652;
      font-family: "Sora", sans-serif;
      border-radius: 5px;
      font-size: .9rem;
      cursor: pointer; }
      .home .form #btn:hover {
        background: #FFF652;
        color: #182430; }
      .home .form #btn:active {
        background: transparent;
        color: #fff; }
  @media only screen and (max-width: 940px) {
    .home .form {
      width: 100%;
      padding: 10px 20px;
      margin: 0; }
      .home .form .inputs {
        display: flex;
        flex-direction: column; } }

footer {
  padding: 30px 50px;
  box-shadow: -10px 10px 10px 3px currentColor;
  z-index: 5;
  display: flex;
  justify-content: space-between; }
  footer a {
    color: #FFE421;
    font-family: "Sora", sans-serif; }
  footer .second {
    color: #fff;
    font-family: "Sora", sans-serif; }
  @media only screen and (max-width: 940px) {
    footer {
      flex-direction: column;
      padding: 15px 30px; }
      footer a {
        padding: 15px 0; } }

/*# sourceMappingURL=style.css.map */
