  @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");

$globalColor: #182430;
$globalColor2: #FFF652;
$globalColor3: #FFE421;
$simpleColor: #fff;
$globalFont: "Ubuntu", sans-serif;
$globalFont2: "Sora", sans-serif;

@mixin global-logo {
  font-family: $globalFont;
  font-size: 1.8rem;
  color: $globalColor2;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}

@mixin global-button {
  color: $simpleColor;
  border: 1px solid $globalColor2;
  font-family: $globalFont2;
  padding: 10px 30px;
  border-radius: 5px;

  &:hover {
    background: $globalColor3;
    color: $globalColor;
  }
}

.section-logo{
  width: 23%;
  padding: 15px 0px;
  @media only screen and (max-width: 940px){
    width: 50%;
    padding: 25px 0px;
  }
}

// Global style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
  color: #fff;
  background: $globalColor;
}

// Navbar style
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  z-index: 999;
  position: fixed;
  width: 100%;

  // Navbar logo
  .logo {
    @include global-logo();
  }

  // Navbar items
  .navigation {
    display: flex;
    .networks{
      display: none;
    }
    li {
      margin: 0px 15px;
      position: relative;

      a {
        font-family: $globalFont2;
        color: $globalColor2;

        &:hover {
          color: $globalColor3;
        }
      }
    }
  }

  // Navbar networks
  .networks {
    a {
      margin: 0px 8px;
      font-size: 1.2rem;
      color: $globalColor2;
      i:hover{
        color: $globalColor3;
      }
    }
  }

  // Navbar hamburger menu
  .hamburger {
    display: none;
  }

  &.sticky{
    box-shadow: 0 3px 2px -1px #313e4b;
  }

  // Customization 1200px
  @media only screen and (max-width: 1200px) {
    padding: 10px 20px;
    .networks {
      display: none;
    }
  }

  // Customization 940px
  @media only screen and (max-width: 940px) {
    padding: 8px 20px;

    .logo {
      font-size: 1.4rem;
    }

    .navigation {
      position: absolute;
      top: 93px;
      left: 0;
      width: 100%;
      height: 0vh;
      transition: .5s ease;
      padding-top: 10px;
      box-shadow: 0 2px 2px -1px gray;
      
      li {
        display: none;
        padding: 20px;
      }

      &.active {
        display: inline;
        height: 42vh;
        li {
          display: block;
          border-bottom: 1px solid $simpleColor;
        }
        .networks{
          display: block;
          padding: 20px;
          a{
            margin: 20px;
          }
        }
      }
    }

    .hamburger {
      display: block;

      .fa-bars {
        font-size: 1.5rem;
        color: $globalColor2;
      }

      .fa-times {
        font-size: 1.5rem;
        color: $globalColor2;
        display: none;
      }

      &.active {
        .fa-times {
          display: block;
        }

        .fa-bars {
          display: none;
        }
      }
    }
  }
}

// Home style
.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px 0px;
  .form{
    width: 60%;
    padding: 10px;
    margin: 0px 20px;
    .inputs{
      display: grid;
      grid-template-columns: auto auto;
      gap: 1rem;
      .label{
        display: flex;
        flex-direction: column;
        width: 100%;
        .tel{
          display: flex;
          align-items: center;
        }
        label{
          font-family: $globalFont2;
          padding: 5px 0px;
        }
        input{
          width: 100%;
          padding: 5px 10px;
          font-family: $globalFont2;
          font-size: 1rem;
          outline: none;
          border-radius: 5px;
          border: 1px solid $globalColor2;
        }
        select{
          @extend input;
          option{
            font-family: $globalFont2;
            &:hover{
              background: $globalColor3;
            }
          }
        }
      }
    }
    textarea{
      width: 100%;
      margin: 20px 0px;
      height: 20vh;
      resize: none;
      border-radius: 5px;
      outline: none;
      border: 1px solid $globalColor2;
      padding: 10px;
      font-family: $globalFont2;
      font-size: 1rem;
    }
    #btn{
      width: 100%;
      padding: 10px 0px;
      border: 1px solid $globalColor2;
      font-family: $globalFont2;
      border-radius: 5px;
      font-size: .9rem;
      cursor: pointer;
      &:hover{
        background: $globalColor2;
        color: $globalColor;
      }
      &:active{
        background: transparent;
        color: $simpleColor;
      }
    }
  }
  @media only screen and (max-width: 940px){
    .form{
      width: 100%;
      padding: 10px 20px;
      margin: 0;
      .inputs{
        display: flex;
        flex-direction: column;
      }
    }
  }
}

// Footer style
footer{
  padding: 30px 50px;
  box-shadow: -10px 10px 10px 3px currentColor;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  a{
    color: $globalColor3;
    font-family: $globalFont2;
  }
  .second{
    color: $simpleColor;
    font-family: $globalFont2;
  }
  @media only screen and (max-width: 940px){
    flex-direction: column;
    padding: 15px 30px;
    a{
      padding: 15px 0;
    }
  }
}